.mainContent {
    color: #ffffff;
    margin-left: 25%;
    padding: 5%;
}

.userDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.detailBlock {
    flex: 1 1 calc(33.33% - 10px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ea6020;
}

.detailBlock label {
    color: #ffffff;
}

.editForm {
    color: #090f2d;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#welomeText {
    color: #090f2d;
}

#editBtn {
    color: #090f2d;
    display: block;
    margin: auto;
}

#saveBtn {
    color: #090f2d;
}

#cancelBtn {
    color: darkred;
}